.tipjs-tip
{
    position: fixed;
    background: antiquewhite;
    padding: 5px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s ease;
    color: black;
    border: 1px solid #000;
}
.show-tipjs-tip
{
    opacity: 1;
    visibility: visible;
}
